.system-container{
  min-width: 950px;
  background: #fff;
  .system-top{
    padding:25px 40px 15px 40px;
    border-bottom: 1px solid #ebeef5;
    .item-block{
      width: 27%;
      position: relative;
      padding:0 30px 0 37px;
      .title{
        position: absolute;
        left: 0;
        top:0;
        margin-top:9px;
      }
    }
  }
  .system-center{
    padding:20px 40px;
    .operation-bar{
      margin-bottom: 20px;
    }
  }
}
.pagelist-block{
  width: 100%;
  margin-top:20px;
  .el-pagination{
    text-align: right;
  }
}
.el-pager .active{
  background: #5789fa !important;
}
.width350{
  width: 350px;
}